In [1]:
import pandas as pd
import numpy as np

# ให้แสดงทุกคอลัมน์เวลา df.head()
pd.set_option("display.max_columns", None)

### 3.1 ตรวจสอบโครงสร้างข้อมูลและประเภทข้อมูล (Data Structure & Type Validation)

In [2]:
# โหลดข้อมูลจาก Sheet1 ของไฟล์ Excel
file_path = "Global_Superstore.xlsx"
df = pd.read_excel(file_path, sheet_name="Sheet1")

# ดูขนาดข้อมูล
print("Shape:", df.shape)

# ดู 5 แถวแรก
display(df.head())

Shape: (51290, 24)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,Country,Postal Code,Market,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,32298,CA-2012-124891,31-07-2012,31-07-2012,Same Day,RH-19495,Rick Hansen,Consumer,New York City,New York,United States,10024.0,US,East,TEC-AC-10003033,Technology,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...,2309.650,7,0.0,762.1845,933.57,Critical
1,26341,IN-2013-77878,05-02-2013,07-02-2013,Second Class,JR-16210,Justin Ritter,Corporate,Wollongong,New South Wales,Australia,NaN,APAC,Oceania,FUR-CH-10003950,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,923.63,Critical
2,25330,IN-2013-71249,17-10-2013,18-10-2013,First Class,CR-12730,Craig Reiter,Consumer,Brisbane,Queensland,Australia,NaN,APAC,Oceania,TEC-PH-10004664,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710,915.49,Medium
3,13524,ES-2013-1579342,28-01-2013,30-01-2013,First Class,KM-16375,Katherine Murray,Home Office,Berlin,Berlin,Germany,NaN,EU,Central,TEC-PH-10004583,Technology,Phones,"Motorola Smart Phone, Cordless",2892.510,5,0.1,-96.5400,910.16,Medium
4,47221,SG-2013-4320,05-11-2013,06-11-2013,Same Day,RH-9495,Rick Hansen,Consumer,Dakar,Dakar,Senegal,NaN,Africa,Africa,TEC-SHA-10000501,Technology,Copiers,"Sharp Wireless Fax, High-Speed",2832.960,8,0.0,311.5200,903.04,Critical

In [3]:
# ดูประเภทข้อมูลแต่ละคอลัมน์
schema = pd.DataFrame({
    "Column": df.columns,
    "Non-Null Count": df.notnull().sum().values,
    "Dtype": df.dtypes.values
})

schema

            Column  Non-Null Count    Dtype
0           Row ID           51290    int64
1         Order ID           51290   object
2       Order Date           51290   object
3        Ship Date           51290   object
4        Ship Mode           51290   object
5      Customer ID           51290   object
6    Customer Name           51290   object
7          Segment           51290   object
8             City           51290   object
9            State           51290   object
10         Country           51290   object
11     Postal Code            9994  float64
12          Market           51290   object
13          Region           51290   object
14      Product ID           51290   object
15        Category           51290   object
16    Sub-Category           51290   object
17    Product Name           51290   object
18           Sales           51290  float64
19        Quantity           51290    int64
20        Discount           51290  float64
21          Profit           51290  float64
22   Shipping Cost           51290  float64
23  Order Priority           51290   object

### 3.2 แปลงชนิดข้อมูล (Type Conversion)

##### 3.2.1 แปลงวันที่ให้เป็น datetime

In [4]:
# แปลง Order Date และ Ship Date เป็น datetime
df["Order Date"] = pd.to_datetime(df["Order Date"], errors="coerce")
df["Ship Date"] = pd.to_datetime(df["Ship Date"], errors="coerce")

# ตรวจอีกครั้ง
df[["Order Date", "Ship Date"]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Order Date  51290 non-null  datetime64[ns]
 1   Ship Date   51290 non-null  datetime64[ns]
dtypes: datetime64[ns](2)
memory usage: 801.5 KB

/var/folders/vs/06vh22_557jftn5np9nnskq80000gp/T/ipykernel_15912/956242419.py:2: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df["Order Date"] = pd.to_datetime(df["Order Date"], errors="coerce")
/var/folders/vs/06vh22_557jftn5np9nnskq80000gp/T/ipykernel_15912/956242419.py:3: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df["Ship Date"] = pd.to_datetime(df["Ship Date"], errors="coerce")

##### 3.2.2 แปลง Quantity ให้เป็นตัวเลข

In [5]:
# แปลง Quantity เป็นตัวเลข
df["Quantity"] = pd.to_numeric(df["Quantity"], errors="coerce")

# ตรวจซ้ำว่ากลายเป็น float/int แล้ว
df[["Quantity"]].info()
df["Quantity"].describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Quantity  51290 non-null  int64
dtypes: int64(1)
memory usage: 400.8 KB

count    51290.000000
mean         3.476545
std          2.278766
min          1.000000
25%          2.000000
50%          3.000000
75%          5.000000
max         14.000000
Name: Quantity, dtype: float64

### 3.3 ตรวจสอบและจัดการ Missing Values

In [6]:
# ดูจำนวน missing value แต่ละคอลัมน์
df.isna().sum().sort_values(ascending=False)

Postal Code       41296
Row ID                0
Order Date            0
Order ID              0
Ship Mode             0
Customer ID           0
Customer Name         0
Ship Date             0
Segment               0
City                  0
State                 0
Country               0
Market                0
Region                0
Product ID            0
Category              0
Sub-Category          0
Product Name          0
Sales                 0
Quantity              0
Discount              0
Profit                0
Shipping Cost         0
Order Priority        0
dtype: int64

### 3.4 ตรวจสอบ Outliers และข้อมูลผิดปกติ

In [7]:
numeric_cols = ["Sales", "Profit", "Discount", "Shipping Cost", "Quantity"]
df[numeric_cols].describe()

              Sales        Profit      Discount  Shipping Cost      Quantity
count  51290.000000  51290.000000  51290.000000   51290.000000  51290.000000
mean     246.490581     28.610982      0.142908      26.375915      3.476545
std      487.565361    174.340972      0.212280      57.296804      2.278766
min        0.444000  -6599.978000      0.000000       0.000000      1.000000
25%       30.758625      0.000000      0.000000       2.610000      2.000000
50%       85.053000      9.240000      0.000000       7.790000      3.000000
75%      251.053200     36.810000      0.200000      24.450000      5.000000
max    22638.480000   8399.976000      0.850000     933.570000     14.000000

### 3.5 สร้างฟีเจอร์ใหม่เพื่อช่วยการวิเคราะห์ (Feature Engineering)

##### 3.5.1 ปี, เดือน, ไตรมาส, Year-Month

In [8]:
# ปีของคำสั่งซื้อ
df["Order_Year"] = df["Order Date"].dt.year

# เดือนในรูปแบบ 'YYYY-MM'
df["Order_Month"] = df["Order Date"].dt.to_period("M").astype(str)

# ไตรมาส (1–4)
df["Order_Quarter"] = df["Order Date"].dt.quarter

# Year-Month แบบ timestamp สำหรับ time-series
df["Order_YM"] = df["Order Date"].dt.to_period("M").dt.to_timestamp()

##### 3.5.2 ระยะเวลาจัดส่ง (ShipDays)

In [9]:
df["ShipDays"] = (df["Ship Date"] - df["Order Date"]).dt.days

In [10]:
# เช็คค่าที่ผิดปกติ เช่น ShipDays ติดลบ

df["ShipDays"].describe()
df[df["ShipDays"] < 0].head()

Empty DataFrame
Columns: [Row ID, Order ID, Order Date, Ship Date, Ship Mode, Customer ID, Customer Name, Segment, City, State, Country, Postal Code, Market, Region, Product ID, Category, Sub-Category, Product Name, Sales, Quantity, Discount, Profit, Shipping Cost, Order Priority, Order_Year, Order_Month, Order_Quarter, Order_YM, ShipDays]
Index: []

##### 3.5.3 Profit Margin

In [11]:
df["ProfitMargin"] = df["Profit"] / df["Sales"]

# ตัดกรณีที่ Sales = 0 เพื่อไม่ให้ division error (ในกรณีนี้ไม่มี Sales = 0 อยู่แล้ว)
df = df[df["Sales"] != 0]

### 3.6 ทำความสะอาดข้อความในคอลัมน์ประเภทหมวดหมู่ (String Cleanup)

In [12]:
text_cols = [
    "Ship Mode", "Customer ID", "Customer Name", "Segment",
    "City", "State", "Country", "Market", "Region",
    "Product ID", "Product Name", "Category", "Sub-Category",
    "Order Priority"
]

for col in text_cols:
    df[col] = df[col].astype(str).str.strip()

### 3.7 ตรวจคุณภาพข้อมูลหลังทำความสะอาด

In [13]:
# ตรวจดูโครงสร้างอีกครั้ง
df.info()

# ดูตัวอย่างแถว
df.head()

# ดู summary ของฟีเจอร์ใหม่
df[["Order_Year", "Order_Month", "Order_Quarter", "Order_YM", "ShipDays", "ProfitMargin"]].describe(include="all")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 30 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Row ID          51290 non-null  int64
 1   Order ID        51290 non-null  object
 2   Order Date      51290 non-null  datetime64[ns]
 3   Ship Date       51290 non-null  datetime64[ns]
 4   Ship Mode       51290 non-null  object
 5   Customer ID     51290 non-null  object
 6   Customer Name   51290 non-null  object
 7   Segment         51290 non-null  object
 8   City            51290 non-null  object
 9   State           51290 non-null  object
 10  Country         51290 non-null  object
 11  Postal Code     9994 non-null   float64
 12  Market          51290 non-null  object
 13  Region          51290 non-null  object
 14  Product ID      51290 non-null  object
 15  Category        51290 non-null  object
 16  Sub-Category    51290 non-null  object
 17  Product Name    51290 non-null  object
 18  Sales           51290 non-null  float64
 19  Quantity        51290 non-null  int64
 20  Discount        51290 non-null  float64
 21  Profit          51290 non-null  float64
 22  Shipping Cost   51290 non-null  float64
 23  Order Priority  51290 non-null  object
 24  Order_Year      51290 non-null  int32
 25  Order_Month     51290 non-null  object
 26  Order_Quarter   51290 non-null  int32
 27  Order_YM        51290 non-null  datetime64[ns]
 28  ShipDays        51290 non-null  int64
 29  ProfitMargin    51290 non-null  float64
dtypes: datetime64[ns](3), float64(6), int32(2), int64(3), object(16)
memory usage: 11.3+ MB

,Order_Year,Order_Month,Order_Quarter,Order_YM,ShipDays,ProfitMargin
count,51290.000000,51290,51290.000000,51290,51290.000000,51290.000000
unique,NaN,48,NaN,NaN,NaN,NaN
top,NaN,2014-12,NaN,NaN,NaN,NaN
freq,NaN,2153,NaN,NaN,NaN,NaN
mean,2012.777208,NaN,2.793235,2013-04-27 02:39:21.442776320,3.969370,0.047430
min,2011.000000,NaN,1.000000,2011-01-01 00:00:00,0.000000,-4.733542
25%,2012.000000,NaN,2.000000,2012-06-01 00:00:00,3.000000,0.000000
50%,2013.000000,NaN,3.000000,2013-07-01 00:00:00,4.000000,0.169178
75%,2014.000000,NaN,4.000000,2014-05-01 00:00:00,5.000000,0.333139
max,2014.000000,NaN,4.000000,2014-12-01 00:00:00,7.000000,0.500000
std,1.098931,NaN,1.066015,NaN,1.729437,0.465667

### 3.8 จัดรูปแบบไฟล์ให้พร้อมใช้งานใน Tableau (Data Export)

In [14]:
output_path = "Global_Superstore_Cleaned.csv"
df.to_csv(output_path, index=False)

print("Saved cleaned data to:", output_path)

Saved cleaned data to: Global_Superstore_Cleaned.csv